@mixin container {
    width: 1070px;
    margin: 0 auto;
}

@mixin container2 {
    width: 900px;
    margin: 0 auto;
}

@mixin flexBetween {
    display: flex;
    justify-content: space-between;
}

@mixin flexMiddle {
    display: flex;
    align-items: center;
}

@mixin flexRow {
    display: flex;
    flex-direction: row;
}

@mixin imageHalf {
    width: 50%;
    img {
        width: 100%;
    }
}

@mixin imageQuarter {
    width: 25%;
    img {
        width: 100%;
        margin: 20px 0;
    }
}