@mixin container {
    width: 1070px;
    margin: 0 auto;
}

@mixin container2 {
    width: 900px;
    margin: 0 auto;
}

@mixin flexBetween {
    display: flex;
    justify-content: space-between;
}

@mixin signButton {
    .signUp {
        background-color: $googleBlue;
        color: white;
        cursor: pointer;
        padding-right: 10px;
        margin: 0 10px;
    }
}

@mixin flexCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin flexMiddle {
    display: flex;
    align-items: center;
}

@mixin flexRow {
    display: flex;
    flex-direction: row;
}

@mixin flexColumn {
    display: flex;
    flex-direction: column;
}

@mixin imageHalf {
    width: 50%;
    img {
        width: 100%;
    }
}

@mixin imageQuarter {
    width: 25%;
    img {
        width: 100%;
        margin: 20px 0;
    }
}

@mixin co-foundersSapce {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 15px;
}