@import "partials/variables";
@import "partials/common";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: calc(100vh - 70px);
    width: 100%;
    min-width: 800px;
    color: $mainColor;
    font-family: $font;
}

a {
    color: $mainColor;
    text-decoration: none;
}

.container {
    @include container;
}

header {
    background-color: white;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;

    .container {

        .header {
            height: 70px;
            @include flexBetween;
            border-bottom: 3px solid $mainColor;
            align-items: center;

            img {
                height: 35px;
            }
        
            a {
                margin: 0 10px;
        
                i {
                    margin-left: 5px;
                }
            }
        
            .header-right {
                @include flexMiddle;
                flex-direction: row;
            }
        }
    }
}

.signUp {
    border: 2px solid $googleBlue;
    color: $googleBlue;
    @include flexMiddle;
    border-radius: 10px;

    strong {
        margin-right: 10px;
    }

    &:hover {
        background-color: $googleBlue;
        color: white;
        cursor: pointer;
    }

    img {
        width: 20px;
        margin: 0 10px;
    }
}

main {
    width: 100%;
    font-size: $fontSize;
}

.jumbotron {
    width: 100%;
    margin-top: 70px;
    font-size: 20px;
    
    .container {
        @include flexRow;
    }
}

.jumbotron-right {
    width: 50%;

    img {
        width: 100%;
    }
}

.jumbotron-left {
    width: 50%;
    padding-top: 50px;

    h2 {
        margin: 20px 0;
    }

    p {
        margin-bottom: 20px;

        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }

    @include signButton;
}

.buttons {
    @include flexRow;
    align-items: center;
    margin: 20px 0;

    p {
        margin: 0 10px;
    }
}

.teambitAbout {
    width: 100%;
    background-color: $teambitColor;
    text-align: center;

    .container2 {
        border-bottom: 3px solid $mainColor;
        padding: 15px 0;

        h2 {
            text-align: center;
            margin: 15px 0;
        }

        .imagesAbout {
            display: flex;
            justify-content: space-between;
        }

        .bunnyAbout {
            width: 250px;
            text-align: center;
            margin: 20px 0;
        }

        &:nth-child(2) {
            border-bottom: none;
        }
    }
}

.aboutImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0;

    img {
        height: 100px;
    }
}

.container2 {
    @include container2;
}

.work {
    width: 100%;
    padding: 30px 15px;
}

.workRow {
    display: flex;
    width: 100%;
}

.imageHalf {
    @include imageHalf;
}

.imageQuarter {
    @include imageQuarter;

    p {
        margin: 15px 0;
    }

    a  {
        color: $googleBlue;

        &:hover {
            text-decoration: underline;
        }
    }
}

.right {
    justify-content: flex-end;
}

.getStarted {
    width: 100%;
    background-color: $teambitColor;
    @include flexCenter;
    @include signButton;
    padding-bottom: 50px;
}

.getStartedTitle {
    margin: 30px 0;
    max-width: 400px;
    text-align: center;
    h1 {
        line-height: 70px;   
    }
}

.getStartedText {
    padding: 0 15px;
    width: 700px;
    border: 2px solid $googleBlue;
    border-radius: 5px;
    background-color: white;
    position: relative;

    .quote {
        position: absolute;
        font-size: 30px;
        color: $googleBlue;
        top: -20px;
        left: 0;
    }

    p {
        margin-top: 20px;
    }
}

.co-founders {
    @include flexMiddle;

    img {
        width: 50px;
        @include co-foundersSapce;
    }

    a {
        color: $googleBlue;

        &:hover {
            text-decoration: underline;
        }
    }
}

.co-foundersText {
    @include flexColumn;
    @include co-foundersSapce
}

.footer {
    padding: 50px 0;
    @include flexBetween;

    li {
        list-style: none;
    }

    a {
        &:hover {
            text-decoration: underline;
        }
    }
}

.footerInfo {
    width: 300px;
    @include flexRow;
    align-items: flex-start;

    img {
        width: 100px;
        margin-right: 15px;
    }
    
    a {
        color: $googleBlue;

        &:hover {
            text-decoration: underline;
        }
    }
}

.list {
    width: 150px;

    li {
        margin-bottom: 10px;
    }

    h3 {
        margin-bottom: 30px;
    }
}